.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .sitenav__list {
  display: flex;
  gap: 4rem;
}
.header__container .sitenav__link {
  color: #292830;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 95%;
  position: relative;
}
.header__container .sitenav__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: #ff7235;
  display: inline-block;
  transform-origin: right;
  transition: 0.4s transform;
  transform: scaleX(0);
  transform-origin: right;
}
.header__container .sitenav__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header__container .btn-hide,
.header__container .header__btn {
  color: #ff7235;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: 0%;
  padding: 1.5rem 1.7rem 1.6rem 1.8rem;
  border: 1px solid #ff7235;
  border-radius: 8px;
  background: transparent;
}
.header__container .header__btn:hover {
  border: 1px solid transparent;
  background: #ff7235;
  color: #ffffff;
}
.header__container .btn-hidden {
  display: none;
}
.header__container .header__toggle-btn {
  display: none;
}
.header__container #menu {
  color: #292830;
  font-size: 3.8rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 992px) {
  .header .container {
    padding: 0 1.5rem;
  }
  .header .sitenav__list {
    gap: 3rem;
  }
  .header .header__btn {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 90%;
    padding: 1.3rem 1.5rem 1.4rem 1.6rem;
  }
}
@media (max-width: 755px) {
  .header .header__btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header .sitenav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .sitenav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .sitenav__list {
    text-align: center;
    padding: 4.8rem 2.4rem;
    flex-direction: column;
    gap: 2rem;
    background: #292830;
  }
  .header .sitenav__list .btn-hidden {
    display: block;
  }
  .header .sitenav__list .sitenav__link {
    color: #ffffff;
  }
  .header #menu {
    display: block;
  }
  .header #menu.bx-x {
    transform: rotate(180deg);
  }
  .header .header__toggle-btn {
    display: block;
  }
}
/* hind-siliguri-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/hind-siliguri-v12-latin-300.woff2") format("woff2");
}
/* hind-siliguri-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-siliguri-v12-latin-regular.woff2") format("woff2");
}
/* hind-siliguri-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/hind-siliguri-v12-latin-500.woff2") format("woff2");
}
/* hind-siliguri-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-siliguri-v12-latin-600.woff2") format("woff2");
}
/* hind-siliguri-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-siliguri-v12-latin-700.woff2") format("woff2");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* GLOBAL */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.4s linear;
}

html {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  color: #bdbdbd;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
}

img {
  display: flex;
}

::-moz-selection {
  background: #ff7235;
  color: #ffffff;
}

::selection {
  background: #ff7235;
  color: #ffffff;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* MAIN */
.main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff7235;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #292830;
}

::-webkit-scrollbar-thumb:active {
  background: #ff9669;
}

#loader {
  background: #ffffff url("../images/loading-7528_256.gif") no-repeat center center;
  background-size: 8%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.hero {
  padding-top: 4.9rem;
  padding-bottom: 21.1rem;
}
.hero .hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero__container .hero__title {
  color: rgb(41, 40, 48);
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2rem;
}
.hero .hero__container .hero__description {
  margin-bottom: 4rem;
}
.hero .hero__buttons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.hero .hero__buttons .hero__btn {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0%;
}
.hero .hero__buttons .select-body {
  position: relative;
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.hero .hero__buttons .select-body select {
  height: 100%;
  width: 100%;
  font-family: "Hind Siliguri";
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1.8rem 2rem 1.8rem 2rem;
  background-color: #ff7235;
  border-radius: 8px;
  cursor: pointer;
}
.hero .hero__buttons .select-body select option:disabled {
  color: #999999;
  background-color: #f0f0f0;
}
.hero .hero__buttons .select-body select select option:hover {
  background: transparent;
}
.hero .hero__buttons .select-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
}
.hero .hero__image img {
  animation: float 3s ease-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.dashboard {
  background: #ff7235;
  padding-top: 8.7rem;
  background-image: url("../images/png/dashborad-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brands {
  padding-top: 8.2rem;
  padding-bottom: 6.6rem;
}
.brands .brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.8rem;
  flex-wrap: wrap;
  height: 40px;
}
.brands .brands__link img {
  filter: grayscale(100%);
  opacity: 0.25;
  transition: all 0.4s ease-in-out;
}
.brands .brands__link img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.about {
  padding-top: 14.2rem;
  padding-bottom: 14.2rem;
}
.about .about__block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.1rem;
}
.about .about__heading {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.about .about__title {
  color: rgb(41, 40, 48);
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2.4rem;
}
.about .aobut__description {
  margin-bottom: 2.4rem;
}
.about .about__btn {
  display: flex;
  align-items: center;
  color: #ff7235;
  line-height: 100%;
  letter-spacing: 0%;
}
.about .about__btn i {
  color: inherit;
  margin-left: 1.2rem;
}
.about .about__image img {
  animation: float 3s ease-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.about__wrapper {
  background: rgb(255, 250, 248);
}

.services {
  padding-top: 13.9rem;
  padding-bottom: 13.9rem;
}
.services .services__wrap {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 8rem;
}
.services .services__title {
  color: rgb(41, 40, 48);
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}
.services .services__description {
  max-width: 350px;
}
.services .services__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}
.services .services__box {
  text-align: center;
  padding: 6.4rem;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 350px;
  cursor: pointer;
}
.services .services__box:nth-child(2) {
  border-radius: 12px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.04);
  background: rgb(255, 255, 255);
}
.services .services__box:nth-child(2) .services__desc {
  margin-bottom: 2.4rem;
}
.services .services__box:nth-child(2) i {
  color: #292830;
  font-size: 14px;
}
.services .services__box:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.04);
}
.services .services__icon {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.services .services__icon-1::before {
  content: "\e4e5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(226, 89, 139, 0.05);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #ffbd74;
}
.services .services__icon-2::before {
  content: "\f0c2";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(226, 89, 139, 0.05);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #e2598b;
}
.services .services__icon-3::before {
  content: "\f1c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(77, 18, 238, 0.05);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d12ee;
  font-size: 20px;
}
.services .services__heading {
  color: #292830;
  font-size: 3rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 1.2rem;
}
.services .services__desc {
  color: #bdbdbd;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}

.plan {
  padding-top: 12.4rem;
  padding-bottom: 12.4rem;
  background: rgb(255, 250, 248);
}
.plan .plan__title {
  text-align: center;
  color: #292830;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-bottom: 8rem;
}
.plan .plan__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.plan .plan__box {
  cursor: pointer;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 12px;
  background: rgb(255, 255, 255);
  padding: 4.1rem 11rem 6rem 4rem;
}
.plan .plan__box:nth-child(2) {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
}
.plan .plan__box:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
}
.plan .plan__pic {
  margin-bottom: 2.4rem;
}
.plan .plan__heading {
  color: #292830;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0%;
  margin-bottom: 2.4rem;
}
.plan .plan__text {
  color: #292830;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.plan .plan__text i {
  color: #bdbdbd;
  margin-right: 1.1rem;
}
.plan .plan__text:not(:last-child) {
  margin-bottom: 8px;
}
.plan .plan__price-date {
  margin-top: 3.2rem;
}
.plan .plan__price {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0px;
  color: #292830;
  letter-spacing: 0%;
  margin-bottom: 1.2rem;
}
.plan .plan__price span {
  color: #bdbdbd;
  font-size: 1.7rem;
  font-weight: 400;
}
.plan .plan__desc {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  margin-bottom: 4rem;
}
.plan .plan__btn, .plan .plan__btn2 {
  background: transparent;
  border: 1px solid #ff7235;
  border-radius: 8px;
  padding: 1.2rem 2.4rem;
  color: #ff7235;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  display: inline;
  align-items: center;
  transition: all 0.4s ease-in;
}
.plan .plan__btn i, .plan .plan__btn2 i {
  color: #ff7235;
  margin-left: 1.4rem;
  font-size: 1.4rem;
}
.plan .plan__btn:hover, .plan .plan__btn2:hover {
  background: #ff7235;
  border: 1px solid #ff7235;
  color: #ffffff;
}
.plan .plan__btn:hover i, .plan .plan__btn2:hover i {
  color: #ffffff;
}
.plan .plan__btn2 {
  border: 1px solid transparent;
  background: #ff7235;
  color: #ffffff;
}
.plan .plan__btn2 i {
  color: #ffffff;
}
.plan .plan__btn2:hover {
  background: transparent;
  border: 1px solid #ff7235;
  color: #ff7235;
}
.plan .plan__btn2:hover i {
  color: #ff7235;
}

.slider {
  padding-top: 12.1rem;
  padding-bottom: 12.1rem;
}
.slider .slider__title {
  color: rgb(41, 40, 48);
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 8rem;
}
.slider .slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.slider .slider__box {
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 12px;
  width: 350px;
  padding: 1.6rem 2.9rem 2.5rem 2.8rem;
  margin-bottom: 2.4rem;
}
.slider .slider__box:nth-child(1) {
  border-top: 10px solid #ffbe21;
}
.slider .slider__box:nth-child(2) {
  border-top: 10px solid #4756df;
}
.slider .slider__box:nth-child(3) {
  border-top: 10px solid #3ec1f3;
}
.slider .slider__desc {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 2.4rem;
}
.slider .slider__wrap {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.slider .slider__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  color: #292830;
}
.slider .slider__text span {
  color: #bdbdbd;
  font-weight: 300;
}
.slider .slider__ovals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.slider .slider__oval {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 1px solid #292830;
  border-radius: 50%;
}
.slider .slider__active {
  background: #292830;
}

.features {
  position: relative;
  background: #ff7235;
  background-image: url("../images/png/features-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 12rem;
  padding-bottom: 30.6rem;
}
.features .features__info {
  text-align: center;
}
.features .features__title {
  color: #ffffff;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2.4rem;
}
.features .features__description {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 6rem;
}
.features .select-body-2 {
  position: relative;
  width: 210px;
  height: 60px;
  cursor: pointer;
  margin: 0 auto;
}
.features .select-body-2 select {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: #ff7235;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1.5rem 2.2rem 1.5rem 2.2rem;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.features .select-body-2 select option:disabled {
  color: #999999;
  background-color: #f0f0f0;
}
.features .select-body-2 select select option:hover {
  background: transparent;
}
.features .select-icon-2 {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ff7235;
  font-weight: 400;
  font-size: 2.1rem;
}

.footer {
  padding-top: 8rem;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.footer .logo-link {
  margin-right: 5rem;
}
.footer .footer__title {
  color: #292830;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.footer .footer__link {
  color: #292830;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
}
.footer .footer__link:not(:last-child) {
  margin-bottom: 8px;
}
.footer .footer__desc {
  color: #bdbdbd;
  font-size: 2rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 1.8rem;
}
.footer .footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 349px;
  background: #ffffff;
  border: 1px solid #292830;
  border-radius: 8px;
  padding: 7px 6px 7px 2.3rem;
  margin-bottom: 1rem;
}
.footer .footer__form button {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  background: #ff7235;
  padding: 11px 15px 11px 18px;
  border-radius: 8px;
  cursor: pointer;
}
.footer .footer__form input {
  color: #292830;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  max-width: 160px;
}
.footer .footer__form ::-moz-placeholder {
  color: #292830;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
}
.footer .footer__form ::placeholder {
  color: #292830;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
}
.footer .footer__text {
  color: #bdbdbd;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}
.footer .line {
  border-bottom: 1px solid rgba(189, 189, 189, 0.2);
  margin-bottom: 2rem;
}
.footer .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9rem;
}
.footer .footer__links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.footer .footer__linkk {
  color: #292830;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}
.footer .footer__copy-text {
  color: #292830;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}
.footer .footer__socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.footer .footer__socials svg path:hover {
  cursor: pointer;
  fill: #ff7235;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 1.5rem;
  }
  .hero {
    padding-top: 3.5rem;
  }
  .hero .hero__info .hero__title {
    font-size: 6.6rem;
    margin-bottom: 1.4rem;
  }
  .hero .hero__info .hero__description {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .hero .hero__image .hero__pic {
    width: 400px;
    height: 430px;
  }
  .hero .hero__buttons {
    gap: 2rem;
  }
  .hero .hero__buttons .select-body {
    width: 190px;
  }
  .hero .hero__buttons .select-body select {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 1.5rem 1.7rem 1.5rem 1.7rem;
    background-color: #ff7235;
    border-radius: 8px;
  }
  .hero .hero__buttons .hero__btn {
    font-size: 2rem;
    line-height: 30px;
  }
  .hero .hero__buttons .select-icon {
    right: 15px;
    font-size: 1.7rem;
  }
  .dashboard .dashboard__image img {
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 1147px) {
  .brands .brands__container {
    gap: 7rem;
  }
  .about {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .about .about__title {
    font-size: 7.5rem;
    line-height: 95%;
  }
  .about .about__image img {
    width: 480px;
  }
}
@media (max-width: 1030px) {
  .services .services__wrap {
    gap: 2.5rem;
  }
  .services .services__title {
    font-size: 7rem;
  }
  .services .services__description {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .hero {
    padding-top: 3.5rem;
    padding-bottom: 10rem;
  }
  .hero .hero__info .hero__title {
    font-size: 6rem;
    margin-bottom: 1.2rem;
  }
  .hero .hero__info .hero__description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .hero .hero__image .hero__pic {
    width: 350px;
    height: 330px;
  }
  .hero .hero__buttons {
    gap: 1rem;
  }
  .hero .hero__buttons .select-body {
    width: 160px;
    height: 60px;
  }
  .hero .hero__buttons .select-body select {
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 1.5rem 1.7rem 1.5rem 1.7rem;
    background-color: #ff7235;
    border-radius: 8px;
  }
  .hero .hero__buttons .hero__btn {
    font-size: 2rem;
    line-height: 30px;
  }
  .hero .hero__buttons .select-icon {
    right: 15px;
    font-size: 1.5rem;
  }
  .brands .brands__container {
    gap: 6rem;
  }
  .about {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
  .about .about__title {
    font-size: 6.5rem;
    line-height: 95%;
    margin-bottom: 1.7rem;
  }
  .about .aobut__description {
    margin-bottom: 1.7rem;
    font-size: 2.2rem;
  }
  .about .about__image img {
    width: 470px;
    height: 100%;
  }
  .services {
    padding-top: 8rem;
  }
  .services .services__wrap {
    gap: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .services .services__title {
    font-size: 7rem;
  }
  .services .services__description {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media (max-width: 965px) {
  .about {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
  .about .about__heading {
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }
  .about .about__title {
    font-size: 5rem;
    line-height: 95%;
    margin-bottom: 1.7rem;
  }
  .about .aobut__description {
    margin-bottom: 1.7rem;
    font-size: 2rem;
  }
  .about .about__image img {
    width: 400px;
    height: 100%;
  }
  .features .features__title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .features .features__description {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 940px) {
  .footer {
    padding-top: 5rem;
    text-align: center;
  }
  .footer .logo-link {
    margin-right: 0;
    margin-bottom: 2.8rem;
  }
  .footer .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer__list {
    margin-bottom: 1.5rem;
  }
  .footer .footer__form {
    padding: 7px 6px 7px 1.8rem;
  }
  .footer .footer__form input {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .hero .hero__container {
    flex-direction: column;
    gap: 3rem;
  }
  .hero .hero__info {
    text-align: center;
  }
  .hero .hero__info .hero__title {
    font-size: 5rem;
    line-height: 90%;
    margin-bottom: 1rem;
  }
  .hero .hero__info .hero__description {
    margin-bottom: 1rem;
  }
  .hero .hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brands {
    padding-top: 6rem;
  }
  .brands .brands__container {
    gap: 4rem;
  }
  .about {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .about .about__block {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }
  .about .about__block .about__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .about__image img {
    max-width: 100%;
  }
  .services {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  .plan {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .slider {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .slider .slider__title {
    font-size: 7rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 2rem;
  }
  .hero .hero__container {
    flex-direction: column;
    gap: 2.5rem;
  }
  .hero .hero__info {
    text-align: center;
  }
  .hero .hero__info .hero__title {
    font-size: 4rem;
    line-height: 95%;
    margin-bottom: 1rem;
  }
  .hero .hero__info .hero__description {
    margin-bottom: 1rem;
    line-height: 30px;
  }
  .hero .hero__info .hero__buttons {
    gap: 1rem;
  }
  .hero .hero__info .hero__btn {
    font-size: 1.7rem;
  }
  .hero .hero__image img {
    max-width: 100%;
    height: auto;
  }
  .hero .hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brands {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .brands .brands__container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
  .about .about__block {
    flex-direction: column;
    gap: 5rem;
    text-align: left;
  }
  .about .about__block .about__btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about .about__heading {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .about .about__title {
    font-size: 4rem;
    line-height: 95%;
    margin-bottom: 1.5rem;
  }
  .about .aobut__description {
    margin-bottom: 1.7rem;
    font-size: 2rem;
  }
  .about .about__image img {
    width: 400px;
    height: 100%;
  }
  .services {
    padding-top: 8rem;
  }
  .services .services__wrap {
    gap: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6.5rem;
  }
  .services .services__title {
    font-size: 5rem;
  }
  .services .services__description {
    font-size: 2rem;
    max-width: 100%;
  }
  .services {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .plan .plan__title {
    font-size: 4rem;
    line-height: 95%;
    margin-bottom: 5rem;
  }
  .slider {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .slider .slider__title {
    font-size: 4rem;
  }
  .features .features__title {
    font-size: 4rem;
  }
  .features {
    padding-bottom: 10rem;
    padding-bottom: 10rem;
    background-image: url("...");
  }
  .footer .footer__wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 375px) {
  .hero .hero__buttons {
    flex-direction: column;
  }
  .brands {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .brands .brands__container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
  .about {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .plan .plan__box {
    padding: 4.1rem 4.5rem 6rem 4rem;
  }
}/*# sourceMappingURL=main.css.map */